body {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

hr {
	border: none;
	border-bottom: 1px solid #eaeaea;
	margin: 15px 0;
}

pre {
	font-family: 'Source Code Pro';
	border: 1px solid #eaeaea;
	padding: 12px;
	background-color: #ffffff;
	font-size: 14px;
	display: none;
}